---

- name: Enable EPEL repository (RedHat)
  yum:
    name: epel-release
    state: present
  when:
    - ansible_facts["os_family"] == "RedHat"
  tags: always
  
- name: Install fail2ban (Debian)
  apt:
    name: fail2ban
    state: present
  when:
    - ansible_facts["os_family"] == "Debian"


- name: Install fail2ban (RedHat)
  dnf:
    name: fail2ban
    state: present
  when:
    - ansible_facts["os_family"] == "RedHat"

- name: Enable fail2ban service
  systemd:
    name: fail2ban
    state: started
    enabled: yes
